<!DOCTYPE kpartgui>
<kpartplugin name="ktexteditor_replicode" library="ktexteditor_replicode" version="2">
<MenuBar>
 <Menu name="tools"><Text>&amp;Tools</Text>
    <separator group="tools_operations" />
    <Action name="tools_replicode" group="tools_operations"/>
 </Menu>
</MenuBar>
</kpartplugin>
